<nb-card>
  <nb-card-header>Profile list</nb-card-header>
  <nb-card-body>
    <toaster-container [toasterconfig]></toaster-container>
      <button class="btn btn-sm btn-success" [routerLink]="['/pages/profile/add-profile']" >Add</button>
    <hr style="border: 0px;">
    <table class="table">
      <tr>
        <th>Action</th>
        <th>Profile Name</th>
        <th>Description</th>
      </tr>
      <tr *ngFor="let item of datas">
        <td><a (click)="Edit_User(item);" style="cursor: pointer;"> <i class="nb-edit" > </i> Edit </a></td>
        <td>{{item.PROFILE_NAME}}</td>
        <td>{{item.DESCRIPTION}}</td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>